*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-color: rgb(237, 151, 46);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.sub-header p{
    margin-top: 90px;
    font-weight: 900;
    font-size: 50px;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d79e35;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #0d4f70;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    
}
/*--Graduate Content--*/
.sec-1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
}
.cover-image {
    width: 100%;
    height: 700px; 
    object-fit: fill;
    margin-bottom: 20px;    
}

.program-courses {
    margin-top: 20px;
    text-align: center;
}

.program-courses h3 {
   font-weight: 900;
   font-size: 30px;
}

.program-levels h4 {
    background-color: gray;
    color: white;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.level-text{
    font-size: 15px;
}

.box {
    width: 200px;  
    height: 40px;         
    border-radius: 3px;
    background-color: rgb(237, 151, 46);
    color: #fff;
    text-align: center;
    line-height: 40px; 
    cursor: pointer;
    margin-left: 100px;
}


.hidden-table {
    display: none;
    margin-top: 10px;
    margin-left: 30px;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: none; 
}

th, td {
    border: none; 
    padding: 10px;
    text-align: left;
}


/*--------------Footer---------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #0d4f70;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}